img{
  height: 150px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 600px;
}

.newsletter .column{
  align-items: center;
}

form {
  display: flex;
  gap: .5rem;
  width: 100%;
}

form > input {
  width: 100%;
  min-width: 200px;
  border-radius: 2rem;
  border: 1px solid var(--secondary80);
  height: 3rem;
  padding: 0 1rem;
  background: none;
  appearance: none;
  font-size: 1rem;
  -webkit-appearance: none;
  outline: none;
}

a, p {
  color: var(--secondary80);
  transition: .3s ease-in-out;
}

.submit{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: var(--secondary);
  height: 3rem;
  padding: 0 1rem;
  transition: .3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.btn:hover{
  border-radius: 1.5rem;
}

.scroll {
  transition: .3s ease-in-out;
}

.submit:hover > .scroll{
  transform: translateY(50%);
}

.scroll > p {
  height: 3rem;
  display: flex;
  align-items: center;
  color: var(--primary);
}

.column{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  cursor: initial;
}

.column.bg{
  background: var(--secondary10);
  padding: 1rem;
  border-radius: .4rem;
  min-width: 200px;
}

.column.bg > a:hover {
  color: var(--green);
}

.row{
  display: flex;
  gap: 1rem;
}

.row-end{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  width: 100%;
  max-width: 800px;
}

@media (max-width: 992px) {
  form {
    flex-direction: column;
  }

  form > input {
    padding: .5rem 1rem;
  }

  form > button {
    padding: .5rem;
    width: 100%;
  }

  form > button, form > input {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .row {
    flex-direction: column;
    width: 100%;
  }
  .column.bg {
    width: 100%;
  }
  .newsletter{
    max-width: unset;
    text-align: center;
  }

  .row-end{
    flex-direction: column;
    align-items: center;
  }
}
