<img src="logoMuseoMultimedialeGrande.png" alt="Logo Museo Multimediale Cosenza">

<div class="newsletter">
  <div class="column">
    <h2>La nostra Newsletter.</h2>
    <p>Tutto quello che c’è da sapere: esposizioni, laboratori, innovazioni.</p>
  </div>
  <form>
    <input type="email" placeholder="Inserisci la tua email" required>
    <div class="submit">
      <div class="scroll">
        <p>Iscriviti</p>
        <p>Iscriviti</p>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="column bg">
    <h3>Contatti</h3>
    <a href="mailto:aldogioia2002@gmail.com" target="_blank">Email</a> <!-- href="mailto:" target="_blank" -->
    <a href="tel:+391234567890" target="_blank">Cellulare</a> <!-- href="tel:+" target="_blank" -->
  </div>
  <div class="column bg">
    <h3>Indirizzo</h3>
    <p>Piazza Carlo Bilotti<br>87100<br>Cosenza CS</p>
  </div>
  <div class="column bg">
    <h3>Orari</h3>
    <p>Presto disponibili.</p>
  </div>
  <div class="column bg">
    <h3>Social</h3>
    <a href="https://www.instagram.com/museo_multimediale_cosenza?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/museomultimedialecittadicosenza" target="_blank">Facebook</a>
  </div>
</div>

<div class="row-end">
  <p>© 2025 Museo Multimediale Cosenza</p>
  <a href="https://www.aldogioia.com" target="_blank">Developed by <b style="color: #12DF8F">Aldo gioia</b></a>
</div>
