<img src="logoMuseoMultimedialeGrande.png" alt="Logo Museo Multimediale Cosenza">

<div class="newsletter">
  <div class="column">
    <h2>Newsletter del Museo Multimediale</h2>
    <p>Tutto quello che c’è da sapere: esposizioni, laboratori, innovazioni.</p>
  </div>
  <form>
    <input type="email" placeholder="Inserisci la tua email" required>
    <div class="submit">
      <div class="scroll">
        <p>Iscriviti</p>
        <p>Iscriviti</p>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="column bg">
    <h3>Contatti</h3>
    <a href="mailto:aldogioia2002@gmail.com" target="_blank">Email</a>
    <a href="tel:+391234567890" target="_blank">Cellulare</a>
  </div>
  <div class="column bg">
    <h3>Indirizzo</h3>
    <p>Piazza Carlo Bilotti<br>87100<br>Cosenza CS</p>
  </div>
  <div class="column bg">
    <h3>Orari</h3>
    <p>Lun, Mar, Mer 09:00 - 15:00</p>
    <p>Gio, Ven, Sab 09:00 - 19:00</p>
  </div>
  <div class="column bg">
    <h3>Social</h3>
    <a href="https://www.instagram.com" target="_blank">Instagram</a>
    <a href="https://www.facebook.com" target="_blank">Facebook</a>
    <a href="https://www.youtube.com" target="_blank">YouTube</a>
  </div>
</div>

<div class="row-end">
  <p>© 2025 Museo Multimediale Cosenza</p>
  <a href="https://www.aldogioia.com" target="_blank">Designed by <b style="color: #37D22F">Aldo gioia</b></a>
</div>
