.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.grid-item {
  aspect-ratio: 1/1;
  background-color: #f0f0fa;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: alias;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn .5s ease-in forwards;
}

.grid-item.rect {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: transform .3s ease;
}

.grid-item:hover .image-grid{
  transform: translateY(44px);
  transition: transform .3s ease;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  width: 100%;
  opacity: 0;
}

.overlay h3 {
  font-size: 1.2rem;
}

.overlay p {
  font-size: .8rem;
  font-weight: 500;
  color: var(--primary80);
}

span {
  background: var(--secondary10);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem .25rem;
  border-radius: 1rem;
}

span > svg {
  stroke: var(--secondary);
  height: 20px;
  width: 20px;
}

.grid-item:hover .link{
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  padding: .5rem;
  background: linear-gradient(to top, var(--secondary), transparent);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: var(--primary);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }

  .grid-item.rect {
    grid-column: span 1;
  }
}
