<div class="navbar" [class]="{'open': open}">
  <img
    src="logoMuseoMultimediale.png"
    alt="Logo del museo Multimediale città di Cosenza"
    routerLink="/home">

  <ng-container [ngTemplateOutlet]="links" [ngTemplateOutletContext]="{ className: 'links-row' }"></ng-container>

  <div class="hamburger-menu" [class]="{'open': open}" (click)="open = !open">
    <div class="hamburger">
      <div class="bar"></div>
    </div>
  </div>
</div>

<div class="overlay" [class]="{'open': open}"  (click)="open = false">
  <ng-container [ngTemplateOutlet]="links" [ngTemplateOutletContext]="{ className: 'links' }"></ng-container>
</div>


<ng-template #links let-className="className">
  <div [class]="className">
    <a routerLinkActive="active-route" [style.animation-delay]="1" routerLink="/home">Home</a>
    <a routerLinkActive="active-route" [style.animation-delay]="2" routerLink="/exhibitions">Mostre</a>
    <a routerLinkActive="active-route" [style.animation-delay]="3" routerLink="/about">chi siamo?</a>
    <a routerLinkActive="active-route" [style.animation-delay]="4" style="color: var(--blue)" routerLink="/about">Biglietteria</a>
  </div>
</ng-template>
