.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

img {
  height: 50px;
  cursor: pointer;
}

.row-menu{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hamburger-menu {
  display: none;
  align-items: end;
  flex-direction: column;
  gap: 1rem;
  padding: .8rem;
  background: var(--secondary);
  border-radius: 2rem;
  cursor: pointer;
}

.hamburger{
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem;
}

.hamburger::after,
.hamburger::before {
  content: '';
  position: absolute;
  background: var(--primary);
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: .3s ease-in-out;
  mix-blend-mode: difference;
}

.hamburger::after {
  transform: translateY(.5rem);
}

.hamburger::before {
  transform: translateY(-.5rem);
}

.open .hamburger::before{
  transform: translateY(0px) rotate(-45deg);
}

.open .hamburger::after{
  transform: translateY(0px) rotate(45deg);
}

.bar{
  width: 100%;
  height: 2px;
  background: var(--primary);
  border-radius: 2px;
  transition: .2s ease-in-out;
}

.open .bar {
  scale: .8;
  opacity: 0;
  cursor: pointer;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 98;
  background: var(--secondary60);
  backdrop-filter: blur(2.5rem);
}

.overlay.open{
  display: flex;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.links-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--primary60);
  backdrop-filter: blur(.2rem);
  border-radius: 1.5rem;
  padding: .7rem 1.2rem;
}

a {
  font-weight: 400;
  text-transform: capitalize;
  color: var(--secondary);
  transition: .3s ease-in-out;
  cursor: pointer;
  animation: .5s reveal ease-in;
  text-decoration: none;
}

.links a{
  font-size: 2rem;
  color: var(--primary);
}

a.active-route {
  color: var(--secondary60);
}

.links a.active-route {
  color: var(--primary60);
}

p:hover {
  border-radius: 1rem;
}

@keyframes reveal {
  0%{
    opacity: 0;
    scale: .8;
  }
  80%{
    scale: 1.1;
  }
  100%{
    scale: 1;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .links-row {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
}
