.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  position: relative;
  z-index: 99;
}

.background-img {
  display: none;
  align-items: center;
  justify-content: center;
  padding: .25rem .8rem;
  background: var(--primary80);
  backdrop-filter: blur(8px);
  border-radius: 2rem;
  height: 50px;
  width: fit-content;
}

img{
  height: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.links-row {
  display: flex;
  align-items: center;
  gap: .5rem;
}

a {
  position: relative;
  padding: .5rem;
  color: var(--secondary);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  animation: .5s reveal ease-in;
  transition: .3s ease-in-out;
}

.links-row a {
  width: 130px;
  border-radius: .25rem;
  text-align: center;
  background: var(--primary60);
  backdrop-filter: blur(8px);
}

.links-row a:hover {
  background: var(--primary40);
}

.links a{
  font-size: 2.5rem;
  width: auto;
}

a.active-route::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: var(--green);
  bottom: -5px;
  left: 0;
}

span {
  width: 174px;
}

.hamburger-menu {
  display: none;
  align-items: end;
  flex-direction: column;
  gap: 1rem;
  padding: .8rem;
  background: var(--primary80);
  backdrop-filter: blur(8px);
  border-radius: 2rem;
  cursor: pointer;
}

.hamburger{
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem;
}

.hamburger::after,
.hamburger::before {
  content: '';
  position: absolute;
  background: var(--secondary);
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: .3s ease-in-out;
}

.hamburger::after {
  transform: translateY(.5rem);
}

.hamburger::before {
  transform: translateY(-.5rem);
}

.open .hamburger::before{
  transform: translateY(0px) rotate(-45deg);
}

.open .hamburger::after{
  transform: translateY(0px) rotate(45deg);
}

.bar{
  width: 100%;
  height: 2px;
  background: var(--secondary);
  border-radius: 2px;
  transition: .2s ease-in-out;
}

.open .bar {
  scale: .8;
  opacity: 0;
  z-index: -1;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 97;
  background: var(--primary80);
  backdrop-filter: blur(2.5rem);
}

.overlay.open{
  display: flex;
}

@keyframes reveal {
  0%{
    opacity: 0;
    scale: .8;
  }
  80%{
    scale: 1.1;
  }
  100%{
    scale: 1;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: .5rem;
  }

  span {
    display: none;
  }

  .links-row {
    display: none;
  }

  .background-img{
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }
}
