<div class="navbar" [class]="{'open': open}">
  <div class="background-img">
    <img
      src="logoMuseoMultimediale.png"
      alt="Logo del museo Multimediale città di Cosenza"
      routerLink="/home">
  </div>

  <ng-container [ngTemplateOutlet]="links" [ngTemplateOutletContext]="{ className: 'links-row' }"></ng-container>

  <div class="hamburger-menu" [class]="{'open': open}" (click)="open = !open">
    <div class="hamburger">
      <div class="bar"></div>
    </div>
  </div>
</div>

<div class="overlay" [class]="{'open': open}"  (click)="open = false">
  <ng-container [ngTemplateOutlet]="links" [ngTemplateOutletContext]="{ className: 'links' }"></ng-container>
</div>


<ng-template #links let-className="className">
  <div [class]="className">
    <a routerLinkActive="active-route" routerLink="/home">Home</a>
    <a routerLinkActive="active-route" routerLink="/exhibitions">Mostre</a>
    <span></span>
    <a routerLinkActive="active-route" routerLink="/about">Chi siamo?</a>
    <a routerLinkActive="active-route" routerLink="/ticketing" >Biglietteria</a>
  </div>
</ng-template>
