<section>
  <div class="sub-section">
    <div class="name-section">
      <span></span>
      <p class="large">Didattica</p>
    </div>
    <div class="title">
      <h3>Cultura ed</h3>
      <h3>educazione</h3>
    </div>
    <p class="large">Collaboriamo con le scuole per trasformare ogni mostra in un'esperienza educativa significativa. Percorsi progettati per stimolare curiosità e pensiero critico.</p>
  </div>
  <div class="stats">
    <div class="stat">
      <h4>15K+</h4>
      <p class="small">Studenti/Anno</p>
    </div>
    <div class="stat">
      <h4>120+</h4>
      <p class="small">Scuole Partner</p>
    </div>
    <div class="stat">
      <h4>25+</h4>
      <p class="small">Laboratori</p>
    </div>
  </div>
</section>
<section>
  <figure>
    <img src="images/bambini.jpg" alt="Bambini felice dopo aver partecipano a un'attività educativa al museo">
  </figure>
  <div class="grid-activities">
    <div class="activity-item">
      <h5>Visite guidate</h5>
      <p class="small">Percorsi tematici strutturati per ogni età e ordine scolastico.</p>
    </div>
    <div class="activity-item">
      <h5>Laboratori</h5>
      <p class="small">Workshop interattivi dove gli studenti sono protagonisti.</p>
    </div>
    <div class="activity-item">
      <h5>Progetti speciali</h5>
      <p class="small">Collaborazioni a lungo termine con percorsi interdisciplinari.</p>
    </div>
    <div class="activity-item">
      <h5>Materiali didattici</h5>
      <p class="small">Risorse digitali per preparare e approfondire la visita.</p>
    </div>
  </div>
  <div class="info">
    <p class="small">Tariffe speciali</p>
    <h5>Agevolazioni per scuole e accompagnatori gratuiti</h5>
    <a href="" class="regular button">
      Scopri di più
      <hugeicons-icon [icon]="ArrowRight02Icon"></hugeicons-icon>
    </a>
  </div>
</section>
