:host {
  position: relative;
  max-width: 1256pt;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid var(--stroke-weak);
}

section {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

hugeicons-icon {
  display: none;
  stroke: var(--text-weak);
  stroke-width: 1.5px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

hugeicons-icon:hover {
  stroke: var(--text-strong);
}

img {
  height: 50px;
  cursor: pointer;
}

section a {
  width: fit-content;
  padding: 8pt 16pt;
}

nav > a {
  padding-bottom: 2pt;
  transition: .3s ease-in-out;
}

a.active{
  transform: translateY(-2pt);
  border-bottom: 2pt solid var(--background-dark);
}

#tickets {
  display: none;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

@media (max-width: 1080px) {
  nav {
    gap: 32pt;
  }
}

@media (max-width: 768px) {
  a {
    display: none;
  }

  hugeicons-icon {
    display: block;
  }

  nav {
    flex-direction: column;
    align-items: start;
    position: relative;
    top: auto;
    left: auto;
    gap: 24pt;
    transform: translate(0, 0);
  }

  nav > a {
    display: none;
    padding-bottom: 0;
    padding-left: 4pt;
  }

  nav.open {
    position: relative;
    height: fit-content;
    margin-top: 48pt;
  }

  nav.open > a, nav.open > #tickets {
    display: block;
  }

  a.active{
    transform: translateX(2pt);
    border-left: 3pt solid var(--background-dark);
    border-bottom: none;
  }
}
