.wrapper{
  display: flex;
  gap: .5rem;
  width: 100%;
  padding: 77px 1rem 1rem;
}

.text {
  position: relative;
  flex: 1 0 350px;
}

.text h2 {
  position: sticky;
  top: 77px;
}

.exhibitions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-width: 400px;
}

.exhibition {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  opacity: 0;
}

.exhibition img{
  width: 100%;
  aspect-ratio: 16/10;
}

.exhibition  h3{
  margin-left: .5rem;
}

.row{
  display: flex;
  gap: .5rem;
  cursor: pointer;
}

.row:hover > p {
  border-radius: 0;
  background: var(--secondary);
  color: var(--primary);
}

.row:hover > .btn {
  border-radius: 1.5rem;
  background: var(--secondary);
}

.row p {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 2.5rem;
  border-radius: 1.5rem;
  background: var(--secondary10);
  color: var(--secondary);
  transition: .3s ease-in-out;
}

.btn{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: var(--secondary10);
  height: 2.5rem;
  width: 2.5rem;
  transition: .3s ease-in-out;
  overflow: hidden;
}

.scroll {
  transition: .3s ease-in-out;
}

.row:hover > .btn > .scroll{
  transform: translate(-100%, 50%);
}

.scroll > span {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll > span > svg {
  stroke: var(--secondary);
}
.row:hover > .btn > .scroll > span > svg {
  stroke: var(--primary);
}

.scroll > span:first-of-type {
  transform: translateX(100%);
}

.reveal{
  animation: fadeIn .3s linear forwards;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}


@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }

  .exhibitions {
    min-width: unset;
  }
  .text {
    flex: 0;
  }
}
