.wrapper{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  padding: 83px 1rem 1rem;
}

.exhibitions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.exhibition {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  opacity: 0;
}

.exhibition img{
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2rem;
}

.exhibition  h3{
  margin-left: .5rem;
}

.row {
  width: fit-content;
}

.reveal{
  animation: fadeIn .3s linear forwards;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}


@media (max-width: 992px) {
  .wrapper {
  }

  .exhibitions {
    min-width: unset;
  }
  .text {
    flex: 0;
  }
}
