h1, h2, h3, h4, h5, p {
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  color: var(--text-strong);
}

h1 {
  font-size: 96px;
  line-height: 91px;
  letter-spacing: -2.4px;
}

h2 {
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -1.677px;
}

h3 {
  font-size: 56px;
  line-height: 62px;
  letter-spacing: -1.099px;
}

h4 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.369px;
}

h5 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.07px;
}

p.large {
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.439px;
}

p.regular {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.312px;
}

p.small {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.15px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4pt;
  text-decoration: none;
  border-bottom: 1pt solid var(--stroke-strong);
}

a.regular {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.312px;
}

a.small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.55px;
  text-transform: uppercase;
}

a.small.uppercase {
  text-transform: uppercase;
}
