:host:before {
  content: "Spazi";
  position: absolute;
  color: var(--fill);
  font-size: 254px;
  font-weight: 500;
  line-height: 254px;
  letter-spacing: -12.71px;
  text-transform: uppercase;
  z-index: -1;
}

.infos-grid {
  display: flex;
  gap: 48pt;
}

.info {
  display: flex;
  flex-direction: column;
}

.info .small {
  color: var(--text-weak);
}

a.regular.button {
  width: fit-content;
}
