<figure>
  <div class="image-wrapper">
    <img [src]="exhibition.imageUrl" [alt]="'Locandina di ' + exhibition.titles.join(' ')" loading="lazy">
  </div>
  @if (exhibition.kind === 'exhibition' && exhibition.startPeriod) {
    <figcaption class="top">
      <hugeicons-icon [icon]="Calendar03Icon" [size]="32"></hugeicons-icon>
      <p class="small">Inizio</p>
      <p class="large">{{ exhibition.startPeriod }}</p>
    </figcaption>
  }
  @if (exhibition.trailerLink != null) {
    <figcaption class="bottom">
      <hugeicons-icon [icon]="PlayIcon"></hugeicons-icon>
      <a [href]="exhibition.trailerLink" target="_blank" class="small button">
        Trailer
      </a>
    </figcaption>
  }
</figure>
<article>
  <div class="title">
    @for (title of exhibition.titles; track title) {
      <h3>{{title}}</h3>
    }
    <h5>{{exhibition.subtitle}}</h5>
  </div>
  <p class="large">{{exhibition.description}}</p>
  @if (exhibition.kind === 'event' && exhibition.eventSessions.length) {
    <div class="event-sessions" aria-label="Date e orari dell'evento">
      @for (session of exhibition.eventSessions; track session.date + session.times) {
        <div class="info">
          <p class="small">Data</p>
          <p class="regular">{{ session.date }}</p>
          @if (session.times) { <p class="small">{{ session.times }}</p> }
        </div>
      }
    </div>
  } @else if (exhibition.firstEditionYear) {
    <div class="infos">
      <div class="info">
        <p class="small">Prima edizione</p>
        <p class="regular">{{ exhibition.firstEditionYear }}</p>
      </div>
    </div>
  }
  @if (exhibition.reservationLink != null) {
    <a [href]="exhibition.reservationLink" target="_blank" rel="noopener noreferrer" class="regular button">
      {{exhibition.nameLink}}
      <hugeicons-icon [icon]="ArrowRight02Icon"></hugeicons-icon>
    </a>
  } @else {
    <a routerLink="/" fragment="visita" class="regular button">
      Informazioni di visita
      <hugeicons-icon [icon]="ArrowRight02Icon"></hugeicons-icon>
    </a>
  }
</article>
