@if (exhibition.kind !== 'event') {
<h4>{{ exhibition.firstEditionYear }}</h4>
}
<figure>
  <img [src]="exhibition.imageUrl" [alt]="'Immagine di ' + exhibition.titles.join(' ')" loading="lazy" (error)="useFallbackImage($event)" />
</figure>
<article>
  <div class="title">
    <h5>{{exhibition.titles.join(' ')}}</h5>
    @if (exhibition.subtitle) {
      <p class="large">{{exhibition.subtitle}}</p>
    }
  </div>
  @if (exhibition.kind === 'event') {
    @for (session of exhibition.eventSessions; track session.date + session.times) {
      <p class="small"><span>{{ session.date }}</span>@if (session.times) { · {{ session.times }} }</p>
    }
  } @else if (exhibition.startPeriod) {
    <p class="small">Periodo di inizio: <span>{{ exhibition.startPeriod }}</span></p>
  }
  <p class="small">{{exhibition.description}}</p>
</article>
