:host {
  display: flex;align-items: center;
  gap: 48pt;
  width: 100%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: .3s ease-in-out;
}

:host:hover, :host:hover > h4 {
  filter: none;
  color: var(--text-strong);
}

:host:hover img {
  scale: 1.025;
}

h4 {
  color: var(--text-weak);
  transition: .3s ease-in-out;
}

figure {
  aspect-ratio: 16/9;
  height: 100%;
  max-height: 280pt;
  overflow: hidden;
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease-in-out;
}

article, .title {
  display: flex;
  flex-direction: column;
}

article {
  gap: 8pt;
  width: 100%;
}

p.small:first-of-type {
  color: var(--text-weak);
}

p.small {
  color: var(--text-regular);
  max-width: 80ch;
}

p.small > span {
  color: var(--text-strong);
}

@media (max-width: 1080px) {
  :host {
    gap: 24pt;
  }
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
    align-items: flex-start;
    filter: none;
    gap: 16pt;
  }

  figure {
    height: auto;
    width: 100%;
    max-height: none;
  }
}
