:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1256pt;
  gap: 32pt;
  padding: 64pt 32pt;
  position: relative;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--stroke-weak);
}

@media (max-width: 768px) {
  :host {
    padding: 64pt 16pt;
  }
}
