@if (ticketableExhibitions$ | async; as exhibitions) {
  <div class="name-section">
    <span></span>
    <p class="large">Orari degli spettacoli</p>
  </div>

  @if (exhibitions.length) {
    @for (exhibition of exhibitions; let i = $index; track exhibition.id) {

      <app-ticket-item [exhibition]="exhibition"></app-ticket-item>

      @if (i < exhibitions.length - 1) {
        <div class="divider"></div>
      }

    }
  } @else {
    <p class="regular empty-state">Gli orari degli spettacoli saranno pubblicati presto.</p>
  }
}
