:host{
  width: 100%;
  max-width: 1256pt;
  display: flex;
  justify-content: center;
  gap: 96pt;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 32pt;
}

section, .sub-section, .title {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  text-transform: capitalize;
}

section{
  gap: 32pt;
}

.sub-section {
  gap: 24pt;
}

p.regular, .sub-section > p.large {
  color: var(--text-regular);
}

p.small {
  color: var(--text-weak);
}

figure {
  aspect-ratio: 12 / 16;
  max-height: 700px;
  position: relative;
}

.img-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
}

.img-wrapper > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: .3s ease-in-out;
}

figure:hover > img {
  scale: 1.05;
}

figcaption {
  position: absolute;
  bottom: -16pt;
  right: -16pt;
  background: var(--background-dark);
  padding: 16pt 24pt;
  display: flex;
  align-items: center;
  gap: 8pt;
  backdrop-filter: blur(16px);
  transition: .3s ease-in-out;
}

figcaption:hover {
  background: var(--background-dark-transparent);
}

figcaption .small {
  color: var(--text-dark-strong);
  border-color: var(--text-dark-strong);
}

figcaption hugeicons-icon {
  fill: var(--text-dark-strong);
  stroke: var(--text-dark-strong);
  stroke-width: 2px;
}

@media (max-width: 1256px) {
  :host{
    justify-content: space-between;
  }
}

@media (max-width: 1035px) {
  :host{
    flex-direction: column;
    gap: 64pt;
  }

  section{
    width: 100%;
  }

  figure {
    max-height: none;
  }
}

@media (max-width: 768px) {
  :host{
    padding: 16pt;
    gap: 48pt;
  }

  .sub-section.row {
    flex-direction: column;
    align-items: flex-start;
  }
}
