:host:before {
  content: "Museo";
  position: absolute;
  color: var(--fill);
  font-size: 254px;
  font-weight: 500;
  line-height: 254px;
  letter-spacing: -12.71px;
  text-transform: uppercase;
  z-index: -1;
}

.sub-section.row {
  flex-direction: row;
  align-items: center;
  gap: 16pt;
}
