.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 83px 1rem 1rem;
}

.text-column {
  position: sticky;
  top: 83px;
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.text-column p {
  max-width: min(65ch, 90%);
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--secondary80);
}

.container-image {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.container-image > img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .text-column {
    position: initial;
    max-width: 100%;
  }

  .container-image {
    max-width: 100%;
  }
}
