.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 77px 1rem 1rem;
}

.text-column {
  position: sticky;
  top: 4rem;
  flex-direction: column;
  display: flex;
  max-width: 400px;
  width: 100%;
  gap: 1rem;
}

.container-image {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
}

.container-image > img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .text-column {
    position: initial;
    max-width: 100%;
  }

  .container-image {
    max-width: 100%;
  }
}
