.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
  padding: 0 1rem;
}

.text-column {
  grid-column: 3 / span 5;
  display: flex;
  align-self: start;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 83px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.paragraph p {
  max-width: 80ch;
  line-height: 1.6;
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: var(--secondary80);
}


.container-image {
  grid-column: span 3/span 3; /* 8 to 9 included */
  grid-column-start: 9;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-image > img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  border-radius: .5rem;
}


@media (max-width: 1256px) {
  .text-column {
    grid-column: span 6/span 6;
    grid-column-start: 2;
  }

  .container-image {
    grid-column: span 3/span 3;
    grid-column-start: 9;
  }
}


@media (max-width: 1024px) {
  .text-column {
    grid-column: span 6/span 6;
    grid-column-start: 1;
  }

  .container-image {
    grid-column: span 5/span 5;
    grid-column-start: 8;
  }
}

@media (max-width: 992px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-column {
    position: initial;
    max-width: 100%;
    grid-column: auto;
  }

  .container-image {
    max-width: 100%;
    grid-column: auto;
  }
}
