<section>
  <div class="sub-section">
    <div class="name-section">
      <span></span>
      <p class="large">In corso</p>
    </div>
    <div class="title">
      <h1>Christmas</h1>
      <h1>World Tour</h1>
    </div>
    <p class="regular">Il sogno di Enzo.</p>
  </div>
  <div class="sub-section row">
    <a routerLink="/tickets" class="regular button">
      Acquista Biglietti
      <hugeicons-icon [icon]="ArrowRight02Icon"></hugeicons-icon>
    </a>
    <p class="small">Fino al 7 Gennaio 2026</p>
  </div>
</section>
<section>
  <figure>
    <div class="img-wrapper">
      <img src="images/locandina_natale.jpeg" alt="locandina">
    </div>
    <figcaption>
      <hugeicons-icon [icon]="PlayIcon"></hugeicons-icon>
      <a href="videos/teaser_natale.mov" target="_blank" class="small button">
        Trailer
      </a>
    </figcaption>
  </figure>
</section>
