.image-box {
  margin: calc(100px - 72px);
  padding-bottom: 1rem;
  position: sticky;
  top: 16.5px;
  z-index: 99;
}

.logo {
  height: 150px;
  border-radius: .25rem;
  padding: 0 2px;
  background: var(--primary60);
  backdrop-filter: blur(8px);
}

h1 {
  font-size: clamp(2.5rem, 5vw, 6rem);
  text-align: center;
  margin-bottom: 1rem;
  color: var(--secondary);
}

h1 b {
  font-weight: 600;
}

section > p {
  text-align: center;
  max-width: 80ch;
  line-height: 1.6;
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: var(--secondary80);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  section > p {
    display: none;
  }
}
