.image-box {
  margin: calc(100px - 72px);
  padding-bottom: 1rem;
  position: sticky;
  top: 11px;
  z-index: 99;
}

.logo {
  height: 150px;
}

h1 {
  font-weight: 400;
  font-size: clamp(2.5rem, 5vw, 6rem);
  text-align: center;
  margin-bottom: 1rem;
  background: url('/images/klimt_copertina.jpg') center;
  background-clip: text;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  -webkit-background-clip: text;
  color: transparent;
}

h1 b {
  font-weight: 500;
}

section > p {
  text-align: center;
  max-width: 80ch;
  line-height: 1.6;
  font-size: clamp(1.15rem, 2vw, 1.45rem);
  color: var(--secondary80);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}
