<img routerLink="/home" src="logo_studios.png">

<ul>
  <li>
    <a routerLink="/exhibition" routerLinkActive="active" class="small uppercase">Mostre</a>
  </li>
  <li>
    <a routerLink="/spaces" routerLinkActive="active" class="small uppercase">Spazi</a>
  </li>
  <li>
    <a routerLink="/school" routerLinkActive="active" class="small uppercase">Scuole</a>
  </li>
  <li>
    <a routerLink="/info active" routerLinkActive="active" class="small uppercase">Info</a>
  </li>
</ul>

<a routerLink="/info" class="small">Biglietti</a>
