:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1256pt;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--stroke-weak);
}

img {
  height: 50px;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

nav > a {
  padding-bottom: 2pt;
  transition: .3s ease-in-out;
}

a.active{
  transform: translateY(-2pt);
  border-bottom: 2pt solid var(--background-dark);
}
