:root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1512pt;
  width: 100%;
  height: 80px;
}

img {
  height: 50px;
}

ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

li {
  display: flex;
  list-style: none;
  padding: 4pt;
}

li.active {
  border-bottom: 1pt solid var(--stroke-strong);
}

li > a {
  transition: .3s ease-in-out;
}

li.active > a {
  transform: translateY(4pt);
}
