.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 1rem;
}

.image-box{
  display: flex;
  align-items: start;
  flex: 1;
}

img {
  position: sticky;
  top: 83px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: .5rem;
}

.exhibition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  flex: 1 0 100%;
  max-width: 500px;
  padding: 0 2rem;
}

.exhibition-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.section{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.section h1 {
  font-size: clamp(1.8rem, 5vw, 2rem);
  line-height: 1.5;
  font-weight: 500;
}

.section h4 {
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  line-height: 1.5;
  font-weight: 500;
}

.section p {
  max-width: 80ch;
  line-height: 1.6;
  font-size: clamp(1.15rem, 2vw, 1.45rem);
  color: var(--secondary80);
}

.divider {
  height: 1px;
  width: 100%;
  border-radius: 2px;
  background: var(--secondary10);
}

.row p {
  flex: 1 0 0;
}

b {
  font-weight: 500;
}

@media (max-width: 1256px) {
  .wrapper {
    gap: 1rem;
  }
  .exhibition {
    max-width: 450px;
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .exhibition {
    max-width: 350px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    padding: 0;
  }

  .image-box {
    width: 100%;
  }

  img {
    position: relative;
    top: auto;
    width: 100%;
    border-radius: 0;
  }

  .exhibition {
    max-width: none;
    padding: 0 1rem;
  }
}
