.wrapper {
  position: relative;
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 83px 1rem 1rem;
}

.image-box{
  display: flex;
  align-items: start;
  flex: 1;
}

img {
  position: sticky;
  top: calc(83px);
  width: 100%;
}

.exhibition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  flex: 1 0 100%;
  max-width: 500px;
  padding: 0 2rem;
}

.exhibition-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.section{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.section h4 {
  padding: .5rem 0;
  opacity: .6;
}

.divider {
  height: 1px;
  width: 100%;
  border-radius: 2px;
  background: var(--secondary10);
}

.row p {
  flex: 1 0 0;
}

b {
  font-weight: 500;
}

@media (max-width: 1256px) {
  .wrapper {
    gap: 1rem;
  }
  .exhibition {
    max-width: 450px;
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .exhibition {
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    padding: 83px 0 1rem;
  }

  .image-box {
    width: 100%;
  }

  img {
    position: relative;
    top: auto;
    width: 100%;
  }

  .exhibition {
    max-width: none;
    padding: 0 1rem;
  }
}
