:host {
  display: flex;
}

figure, figcaption, ul {
  display: flex;
  flex-direction: column;
}

figure {
  width: 100%;
  background: var(--background);
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-in-out;
}

.image-wrapper:hover img {
  transform: scale(1.05);
}

figcaption {
  padding: 24pt;
  gap: 16pt;
}

figcaption p {
  color: var(--text-regular);
}

figcaption hugeicons-icon {
  stroke: var(--text-strong);
  stroke-width: 2px;
}

ul {
  padding-top: 8pt;
  gap: 8pt;
}

li {
  margin-left: 16pt;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.15px;
  color: var(--text-weak);
}

