.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-caption {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 .5rem;
  color: var(--primary);
  width: 100%;
  background: linear-gradient(to top, var(--secondary60), transparent);
}

.image-caption h1, .image-caption p {
  max-width: 500px;
}

.image-caption a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: 600;
  background: var(--primary60);
  backdrop-filter: blur(.8rem);
  border-radius: .5rem;
  padding: .5rem 1rem;
  transition: .3s ease-in-out;
}

.image-caption a:hover {
  background: var(--primary);
  border-radius: 0;
}

.controls {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 250px;
  padding: 1rem 0;
}

.image-control {
  display: flex;
  height: 10px;
  width: 15px;
  border-radius: .5rem;
  transition: .3s ease-in-out;
  background: var(--primary60);
  cursor: pointer;
}

.image-control.expanded {
  flex: 1;
  background: var(--primary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.cell {
  position: relative;
  overflow: hidden;
}

.caption {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: var(--secondary20);
  color: var(--primary);
}

.cell img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-in-out;
  aspect-ratio: 1.5/1;
}

.cell:hover > img{
  scale: 1.05;
}

.immersive-scroll-wrapper {
  position: relative;
  width: 100%;
  height: 300vh;
}

.sticky-video-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  background: black;
}

.sticky-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.to-reveal{
  opacity: 0;
}

.reveal{
  animation: fadeIn .3s linear forwards;
}

.to-reveal.reveal > h3,
.to-reveal.reveal > .video-caption > p,
.to-reveal.reveal > .video-caption > h2 {
  animation: textFadeIn .3s linear forwards;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

@keyframes textFadeIn {
  to {
    letter-spacing: initial;
    scale: 1;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
