.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  background: var(--secondary);
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .8;
}

.hero h1 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--primary);
  font-weight: 300;
  font-size: 4rem;
}

.hero b {
  font-weight: 400;
}

.paragraph{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.paragraph > p {
  max-width: min(65ch, 80%);
  line-height: 1.6;
  font-size: 1.25rem;
}

.paragraph i {
  font-weight: 500;
}

.services {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  flex: 1 0 0;
  gap: 1rem;
  border: 1px solid var(--secondary10);
  border-radius: 2rem;
  padding: 1rem;
}

.service-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.service-info h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.service-info h4 {
  font-style: italic;
  font-weight: 500;
}

.service-info p {
  line-height: 1.6;
  color: var(--secondary80);
}

.square {
  aspect-ratio: 1/.8;
  width: 100%;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square > svg {
  width: 100%;
  height: 100%;
}

.service-info .row {
  margin-top: 1rem;
}

.immersive-scroll-wrapper {
  position: relative;
  width: 100%;
  height: 300vh;
}

.sticky-video-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  margin-top: 1rem;
}

.sticky-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.to-reveal{
  opacity: 0;
}

.to-fade{
  opacity: 0;
  transform: translateY(2rem);
}

.reveal{
  animation: reveal .3s linear forwards;
}

.fade{
  animation: fadeIn .3s linear forwards;

}

.to-reveal.reveal > h3,
.to-reveal.reveal > .video-caption > p,
.to-reveal.reveal > .video-caption > h2 {
  animation: textFadeIn .3s linear forwards;
}

.sticky-section-wrapper {
  position: relative;
  width: 100%;
  padding: 0 1rem;
}

.sticky-content {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  padding: 83px 1rem 1rem;
}

.progress-bars {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.box-progress {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--secondary60);
}

.progress-index {
  width: 30px;
  transition: .5s ease-in-out;
}

.progress-title {
  font-size: 1.2rem;
  transition: .5s ease-in-out;
}

.box-progress.active {
  color: var(--secondary);
}

.bar {
  flex: 1;
  height: 2px;
  background: var(--secondary40);
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: var(--secondary);
}

.box-image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--secondary10);
  border-radius: 2rem;
  padding: 1rem 1rem 0;
  overflow: hidden;
}

.main-image {
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100%;
  object-fit: cover;
  transform: translateY(30%);
  transition: opacity .5s ease;
}

.main-image.visible {
  opacity: 1;
  z-index: 2;
}

@keyframes reveal {
  to{
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 1256px) {
  .service,
  .service.right{
    flex-direction: column;
    text-align: start;
  }
  .service.right > .service-info{
    align-items: start;
  }
}


@media (max-width: 992px) {
  .hero > h1 {
    font-size: 2.5rem;
  }

  .services{
    flex-direction: column;
    align-items: center;
  }

  .row-actions{
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .row-actions > div {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .paragraph > p {
    font-size: 1.1rem;
  }
}
