<!--<div class="row">
  <p>Acquista Biglietti</p>
  <div class="btn">
    <div class="scroll">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
              <path d="M9.5 14.5L14.5 9.49995" stroke-width="1.5" stroke-linecap="round" />
              <path d="M16.8463 14.6095L19.4558 12C21.5147 9.94108 21.5147 6.60298 19.4558 4.54411C17.397 2.48524 14.0589 2.48524 12 4.54411L9.39045 7.15366M14.6095 16.8463L12 19.4558C9.94113 21.5147 6.60303 21.5147 4.54416 19.4558C2.48528 17.3969 2.48528 14.0588 4.54416 12L7.1537 9.39041" stroke-width="1.5" stroke-linecap="round" />
            </svg>
          </span>
      <span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
              <path d="M9.5 14.5L14.5 9.49995" stroke-width="1.5" stroke-linecap="round" />
              <path d="M16.8463 14.6095L19.4558 12C21.5147 9.94108 21.5147 6.60298 19.4558 4.54411C17.397 2.48524 14.0589 2.48524 12 4.54411L9.39045 7.15366M14.6095 16.8463L12 19.4558C9.94113 21.5147 6.60303 21.5147 4.54416 19.4558C2.48528 17.3969 2.48528 14.0588 4.54416 12L7.1537 9.39041" stroke-width="1.5" stroke-linecap="round" />
            </svg>
          </span>
    </div>
  </div>
</div>-->

<div class="video-wrapper">
  <video
    #bannerVideo
    src="videos/KLIMT_teaser_web.mp4"
    autoplay
    muted
    [muted] = "muted"
    playsinline
    loop
    preload="metadata"
    poster="images/klimt_copertina.jpg"
    class="banner-video"
  ></video>

  <span (click)="muted = !muted">
    @if (!muted) {
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
        <path d="M14 14.8135V9.18646C14 6.04126 14 4.46866 13.0747 4.0773C12.1494 3.68593 11.0603 4.79793 8.88232 7.02192C7.75439 8.17365 7.11085 8.42869 5.50604 8.42869C4.10257 8.42869 3.40084 8.42869 2.89675 8.77262C1.85035 9.48655 2.00852 10.882 2.00852 12C2.00852 13.118 1.85035 14.5134 2.89675 15.2274C3.40084 15.5713 4.10257 15.5713 5.50604 15.5713C7.11085 15.5713 7.75439 15.8264 8.88232 16.9781C11.0603 19.2021 12.1494 20.3141 13.0747 19.9227C14 19.5313 14 17.9587 14 14.8135Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M17 9C17.6254 9.81968 18 10.8634 18 12C18 13.1366 17.6254 14.1803 17 15" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M20 7C21.2508 8.36613 22 10.1057 22 12C22 13.8943 21.2508 15.6339 20 17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    } @else {
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
        <path d="M14 14.8135V9.18646C14 6.04126 14 4.46866 13.0747 4.0773C12.1494 3.68593 11.0603 4.79793 8.88232 7.02192C7.75439 8.17365 7.11085 8.42869 5.50604 8.42869C4.10257 8.42869 3.40084 8.42869 2.89675 8.77262C1.85035 9.48655 2.00852 10.882 2.00852 12C2.00852 13.118 1.85035 14.5134 2.89675 15.2274C3.40084 15.5713 4.10257 15.5713 5.50604 15.5713C7.11085 15.5713 7.75439 15.8264 8.88232 16.9781C11.0603 19.2021 12.1494 20.3141 13.0747 19.9227C14 19.5313 14 17.9587 14 14.8135Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M18 10L22 14M18 14L22 10" stroke-width="1.5" stroke-linecap="round"></path>
    </svg>
    }
  </span>
</div>

<app-card [cards]="cards"></app-card>

<div class="paragraphs">
  <div class="paragraph">
    <div class="title left">
      <h2>Dove <i>l’arte </i><b>prende vita</b></h2>
      <div class="title-bar"></div>
    </div>
    <p>Immagina di entrare in un dipinto. Di vedere le pennellate dei grandi maestri animarsi intorno a te, avvolgerti, raccontarti storie che prendono forma.</p>
    <p>La nostra sala multimediale è uno spazio immersivo dove <i>arte e tecnologia</i> si incontrano per creare emozioni visive straordinarie.</p>
    <p>Ogni contenuto, <i>interamente prodotto da noi</i>, trasforma la mostra in un viaggio multisensoriale senza precedenti.</p>
  </div>

  <div class="paragraph">
    <div class="title left">
      <h2>Molto più che <i>arte</i></h2>
      <div class="title-bar"></div>
    </div>
    <p>Il Museo Multimediale di Cosenza è uno spazio dinamico e trasformabile, pronto ad accogliere ogni tipo di evento: dalle mostre ai convegni, dalle fiere agli spettacoli. </p>
    <p>Ogni ambiente si adatta e prende vita per offrire esperienze sempre nuove e coinvolgenti.</p>
  </div>

  <div class="paragraph">
    <div class="title left">
      <h2>Il <b>cuore pulsante</b> del Museo</h2>
      <div class="title-bar"></div>
    </div>

    <p>Il Museo Multimediale di Cosenza è uno dei teatri digitali permanenti più grandi d’Italia.</p>
    <p>Aperto 365 giorni l’anno, è in grado di trasformare la sua veste grafica anche più volte al giorno, grazie a una regia all’avanguardia e a uno staff di oltre 10 professionisti.</p>
    <p>Ogni dettaglio, dalla produzione alla messa in onda, è curato con precisione per offrire un’esperienza visiva impeccabile.</p>
  </div>
</div>

<div #scrollContainer class="immersive-scroll-wrapper">
  <div class="sticky-video-container">
    <video
      #videoPlayer
      src="videos/Tour_KlimtExperience.mp4"
      muted
      playsinline
      preload="metadata"
    ></video>
  </div>
</div>

<!--
<div class="sticky-section-wrapper" [style.height.px]="(numSections + 1) * windowHeight">
  <div class="sticky-content" #stickyBox>
    <div class="title">
      <h2>Gli abiti del <b>Museo Multimediale</b><i><b> Città</b> di <b>Cosenza</b></i></h2>
      <div class="title-bar"></div>
    </div>
    <div class="progress-bars">
      @for (bar of images; track bar; let i = $index) {
        <div class="box-progress" [ngClass]="{'active': i === currentIndex}">
          <div class="progress-index">0{{ i + 1 }}</div>
          <div class="progress-title">{{ bar.title }}</div>
        </div>
        <div class="bar">
          <div class="progress" [style.width.%]="getProgressForBar(i)"></div>
        </div>
      }
    </div>
    <div class="box-image">
      @for(image of images; track image; let i = $index) {
        <img
          [src]="image.image"
          class="main-image"
          [class.visible]="i === currentIndex"
          alt="{{ image.title }}"
        />
      }
    </div>
  </div>
</div>
-->
