.row {
  width: calc(100% - 2rem);
  max-width: 400px;
  margin: 1rem 0;
}

.row p {
  flex: 1 0 0;
}

.video-scroll-wrapper {
  position: relative;
}

.video-sticky {
  position: sticky;
  top: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-video {
  width: 90vw;
  height: 100vh;
  border-radius: 2.3rem;
  object-fit: cover;
}

.content-wrapper > span{
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary80);
  backdrop-filter: blur(8px);
  border-radius: 1.3rem;
  padding: .5rem;
  cursor: pointer;
}

.content-wrapper > span svg {
  stroke: var(--secondary);
  transition: .3s ease-in-out;
}

.content-wrapper > span:hover svg {
  stroke: var(--secondary80);
}

.paragraphs {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.paragraph{
  grid-column: 2 / span 4;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.paragraph > p {
  max-width: 80ch;
  line-height: 1.6;
  font-size: clamp(1.15rem, 2vw, 1.45rem);
  color: var(--secondary80);
}

.immersive-scroll-wrapper {
  position: relative;
  width: 100%;
  height: 300vh;
}

.sticky-video-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  margin-top: 1rem;
}

.sticky-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.museum-cloth-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: flex-end;
  justify-content: center;
  background: var(--secondary);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-container.visible {
  display: block;
}

.custom-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.play-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary80);
  backdrop-filter: blur(8px);
  padding: 1rem;
  border: none;
  border-radius: 50%;
  transition: background .5s ease-in-out;
  cursor: pointer;
  z-index: 3;
}

.play-toggle svg {
  fill: var(--secondary);
  transition: .3s ease-in-out;
  pointer-events: none;
}

.play-toggle.hidden {
  opacity: 0;
  pointer-events: none;
}

.controls {
  position: sticky;
  bottom: 1rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: .5rem;
  z-index: 2;
}

.controls button {
  position: relative;
  background: transparent;
  border: none;
  padding: 0.25rem .5rem;
  cursor: pointer;
  min-width: 120px;
  border-radius: .25rem;
  background: var(--primary60);
  color: var(--secondary);
  backdrop-filter: blur(1rem);
  transition: color 0.3s ease-in-out;
}

.controls button span {
  font-size: 1rem;
}

.controls button.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: var(--green);
  bottom: -5px;
  left: 0;
}

@media (max-width: 1024px) {
  .paragraph{
    grid-column: 1 / -1;
    padding: 0 1rem;
  }
}
