.row {
  width: calc(100% - 2rem);
  max-width: 400px;
  margin: 1rem 0;
}

.row p {
  flex: 1 0 0;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.video-wrapper > span{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary80);
  backdrop-filter: blur(8px);
  border-radius: 1.3rem;
  padding: .5rem;
  cursor: pointer;
}

.video-wrapper > span svg {
  stroke: var(--secondary);
  transition: .3s ease-in-out;
}

.video-wrapper > span:hover svg {
  stroke: var(--secondary80);
}

.banner-video {
  height: 100vh;
  width: 90vw;
  object-fit: cover;
  display: block;
  border-radius: 2.3rem;
}

.paragraphs {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.paragraph{
  grid-column: 2 / span 4;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.paragraph > p {
  max-width: 80ch;
  line-height: 1.6;
  font-size: clamp(1.15rem, 2vw, 1.45rem);
  color: var(--secondary80);
}

.immersive-scroll-wrapper {
  position: relative;
  width: 100%;
  height: 300vh;
}

.sticky-video-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  margin-top: 1rem;
}

.sticky-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sticky-section-wrapper {
  position: relative;
  width: 100%;
  padding: 0 1rem;
}

.sticky-content {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}

.progress-bars {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.box-progress {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--secondary60);
}

.progress-index {
  width: 30px;
  transition: .5s ease-in-out;
}

.progress-title {
  font-size: 1.2rem;
  transition: .5s ease-in-out;
}

.box-progress.active {
  color: var(--secondary);
}

.bar {
  flex: 1;
  height: 2px;
  background: var(--secondary40);
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: var(--secondary);
}

.box-image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: var(--secondary10);
  border-radius: 2rem;
  padding: 1rem 1rem 0;
  overflow: hidden;
}

.main-image {
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100%;
  object-fit: cover;
  transition: opacity .5s ease;
}

.main-image.visible {
  opacity: 1;
  z-index: 2;
}

@media (max-width: 1024px) {
  .paragraph{
    grid-column: 1 / -1;
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .banner-video {
    height: 60vh;
    border-radius: 1.5rem;
  }
}
