<section>
  <div class="name-section">
    <span></span>
    <p class="large">Spazi</p>
  </div>

  <h2>Architettura modulare per ogni necessità</h2>
</section>

<figure>
  <img src="images/poster_mostra.png" alt="Sala museo">
</figure>

<section class="row">
  <div class="details">
    <h3>01</h3>
    <h5>Sala Grande</h5>
    <p class="regular">500m² configurabili. Divisibile in sala piccola (200m²) e media (300m²). Sistema audio/video professionale e illuminazione adattabile.</p>
    <div class="infos">
      <div class="info">
        <p class="small">Capacità massima</p>
        <p class="small">400 persone</p>
      </div>
      <div class="info">
        <p class="small">Capacità massima</p>
        <p class="small">6 metri</p>
      </div>
    </div>
    <a href="" class="regular button">
      Richiedi Informazioni
      <hugeicons-icon [icon]="ArrowRight02Icon"></hugeicons-icon>
    </a>
  </div>
  <div class="sub-section">
    <div class="details">
      <h3>02</h3>
      <h5>Eventi Corporate</h5>
      <p class="regular">Allestimento completo per conferenze, meeting e presentazioni. Tecnologia 4K, sistema wireless e servizi di catering disponibili.</p>
    </div>
    <figure>
      <img src="images/poster_mostra.png" alt="Sala museo">
    </figure>
  </div>
  <div class="sub-section">
    <div class="details">
      <h3>03</h3>
      <h5>Fiere</h5>
      <p class="regular">Layout personalizzabile per esposizioni temporanee. Connettività avanzata e servizi di allestimento chiavi in mano.</p>
    </div>
    <figure>
      <img src="images/poster_mostra.png" alt="Sala museo">
    </figure>
  </div>
</section>
