:host {
  gap: 48pt;
  width: 100%;
  max-width: 1256pt;
  padding: 64pt 32pt;
}

:host, .title, .column, .detail-item, .sub-section, ul {
  display: flex;
  flex-direction: column;
}

.title {
  gap: 32pt;
}

.title > .regular {
  max-width: 80ch;
  color: var(--text-regular);
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300pt, 1fr));
  grid-gap: 24px;
}

@media (max-width: 768px) {
  :host {
    padding: 16pt;
  }
}

@media (max-width: 480px) {
  section {
    grid-template-columns: repeat(1, 1fr);
  }
}
