@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #F8F8FF;
  --secondary: #151515;
  --primary60: #F8F8FF99;
  --secondary60: #15151599;
  --primary40: #F8F8FF66;
  --secondary40: #15151566;
  --secondary20: #15151533;
  --secondary10: #1515151A;
}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--primary);
  color: var(--secondary);
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main, .footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary);
}

.footer{
  padding: 2rem;
  gap: 2rem;
  z-index: 2;
}

h1{
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

.row{
  display: flex;
  gap: .5rem;
  cursor: pointer;
}

.row:hover > p {
  border-radius: 0;
  background: var(--secondary);
  color: var(--primary);
}

.row:hover > .btn {
  border-radius: 1.5rem;
  background: var(--secondary);
}

.row > p {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  border-radius: 1.5rem;
  background: var(--secondary10);
  color: var(--secondary);
  transition: .3s ease-in-out;
}

.btn{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: var(--secondary10);
  height: 40px;
  width: 40px;
  transition: .3s ease-in-out;
  overflow: hidden;
}

.scroll {
  transition: .3s ease-in-out;
}

.row:hover > .btn > .scroll{
  transform: translate(-100%, 50%);
}

.scroll > span {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll > span > svg {
  stroke: var(--secondary);
}
.row:hover > .btn > .scroll > span > svg {
  stroke: var(--primary);
}

.scroll > span:first-of-type {
  transform: translateX(100%);
}
