@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #F8F8FF;
  --secondary: #151515;
  --primary60: #F8F8FF99;
  --secondary60: #15151599;
  --primary40: #F8F8FF66;
  --secondary40: #15151566;
  --secondary20: #15151533;
  --secondary10: #1515151A;
}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--primary);
  color: var(--secondary);
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main, .footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer{
  padding: 2rem;
}

h1{
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}
