@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #F8F8FF;
  --secondary: #151515;
  --primary80: #F8F8FFCC;
  --secondary80: #151515CC;
  --primary60: #F8F8FF99;
  --secondary60: #15151599;
  --primary40: #F8F8FF66;
  --secondary40: #15151566;
  --secondary20: #15151533;
  --secondary10: #1515151A;
  --secondary4: #1515150A;
  --green: #00A950;
  --green10: #00A9501A;
  --red: #A90014;
  --red10: #A900141A;
}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--primary);
  color: var(--secondary);
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main, .footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.main {
  gap: 3rem;
}

.wrapper-exhibition {
  position: relative;
  display: flex;
  width: 100%;
  gap: .5rem;
  padding: 0 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.footer{
  padding: 2rem;
  gap: 2rem;
  z-index: 2;
}

h1, h2, h3, h4 {
  font-family: "Exo 2", sans-serif;
}

h1{
  font-weight: 900;
  letter-spacing: 2px;
}

h2 {
  font-weight: 800;
  letter-spacing: 2px;
}

h3 {
  font-weight: 700;
  letter-spacing: 2px;
}

h4 {
  font-weight: 600;
  letter-spacing: 2px;
}

p, a {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

.row{
  display: flex;
  gap: .5rem;
  cursor: pointer;
}

.row > p, .row > a {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  border-radius: 1.5rem;
  background: var(--secondary10);
  color: var(--secondary);
  transition: .3s ease-in-out;
  text-decoration: none;
}

.row:hover > p, .row:hover > a {
  border-radius: 0;
  background: var(--secondary);
  color: var(--primary);
}

.btn {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: var(--secondary10);
  height: 40px;
  width: 40px;
  transition: .3s ease-in-out;
  overflow: hidden;
}

.row:hover > .btn {
  border-radius: 1.5rem;
  background: var(--secondary);
}

.scroll {
  transition: .3s ease-in-out;
}

.row:hover > .btn > .scroll{
  transform: translate(-100%, 50%);
}

.scroll > span {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll > span > svg {
  stroke: var(--secondary);
  fill: none;
}
.row:hover > .btn > .scroll > span > svg {
  stroke: var(--primary);
}

.scroll > span:first-of-type {
  transform: translateX(100%);
}

.pin-wrapper {
  position: relative;
  width: 100%;
}

.horizontal-gallery-container {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.horizontal-gallery {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: max-content;
  will-change: transform;
}

.horizontal-gallery img {
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: .25rem;
}

.title > h2 {
  font-size: clamp(1.45rem, 3vw, 2rem);
}

.title h2 b{
  font-weight: 700;
}

.title h2 i{
  font-weight: 600;
}

.title-bar {
  width: 100%;
  max-width: 200px;
  height: 3px;
  background: var(--green);
  border-radius: 1px;
}

.title.left {
  align-items: start;
  text-align: left;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 98;
}


@media (max-width: 1256px) {
  .wrapper-exhibition {
    gap: 1rem;
  }
}

@media (max-width: 992px) {
  .wrapper-exhibition {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .footer{
    padding: 1rem;
    gap: 2rem;
    z-index: 2;
  }
}
